@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: giants;
  src: url(./assets/Giants.ttf);
}

*{

  overflow-x: hidden;
}

.title{
  font-family: giants;
}

.containers{
  width: 100vw;
  background-image: url(./assets/bg.png);
  background-size: 100% 100%;
  /* background-color: #121212; */
}
span h1{
  color: #646cff;
}
span{
  font-family: giants;
}

