@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: giants;
  src: url(./assets/Giants.ttf);
}

.title{
  font-family: giants;
  text-transform: uppercase;
}

.container{
  width: 100vw;
  height: 88vh;
  /* background-image: url("./assets/Collage.png"); */
  /* background-size:100% 100%; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-color: #0E2033; */
  background-color: #121212;
  z-index: -1;
}
span h1{
  color: #646cff;
}
span{
  font-family: giants;
}